Repository gflze/ZE-Configs, pull requests merged in 2019-08, with the labels that each got.

#27 Create ze_games_v2_1.cfg
  stripper/ze_games_v2_1.cfg
Labels: Stripper

#28 Create ze_Lucy_Escape_v1.cfg Entwatch File
  entwatch/ze_Lucy_Escape_v1.cfg
Labels: entWatch

#29 Added/Updated some bosshuds
  bosshud/ze_dreamin_v2_3.txt
  bosshud/ze_lucy_escape_v1.txt
  bosshud/ze_prototype_r.txt
  bosshud/ze_tesv_skyrim_v5_6.txt
Labels: BossHud
