Repository gflze/ZE-Configs, pull requests merged in 2019-06, with the labels that each got.

#12 Entwatch Fix
  entwatch/ze_cancer_gopnik_escape_v6.cfg
  entwatch/ze_nightmare_dimension_p3.cfg
Labels: entWatch

#13 Added entwatch configs + fixed some bhud cfgs
  bosshud/ze_necromanteion_v3_1.txt
  bosshud/ze_omen_090.txt
  bosshud/ze_onahole_v3_3_3.txt
  bosshud/ze_pkmn_adventure_v9_3.txt
  bosshud/ze_project_alcaria_x2.txt
  entwatch/ze_onahole_v3_3_3.cfg
  entwatch/ze_portal_story_p2.cfg
Labels: BossHud, entWatch

#14 Updated/Added some bosshud/entwatch configs
  bosshud/ze_diddle_v3.txt
  bosshud/ze_dreamin_v2_3.txt
  bosshud/ze_toaster_p3.txt
  entwatch/ze_toaster_p3.cfg
Labels: BossHud, entWatch

#16 Updated & Added some bosshud configs
  bosshud/ze_Pidaras_va2.txt
  bosshud/ze_mist_q3.txt
  bosshud/ze_pkmn_adventure_v9_3.txt
  bosshud/ze_predator_ultimate_p7.txt
  bosshud/ze_random_p2.txt
  bosshud/ze_santassination_v3.txt
  bosshud/ze_sunkentemple_v3_1.txt
  bosshud/ze_surf_sahok_p3.txt
  bosshud/ze_tyranny_v5_2k3.txt
Labels: BossHud

#17 Updated some bosshud configs
  bosshud/ze_Ancient_wrath_r4.txt
  bosshud/ze_tesv_skyrim_v5_6.txt
Labels: BossHud

#18 Updated & Added some bosshud configs
  bosshud/ze_LOTR_Mirkwood_v2_5.txt
  bosshud/ze_atos_v1_3.txt
  bosshud/ze_desert_fox_v7_6f.txt
  bosshud/ze_doom_p2.txt
  bosshud/ze_draco_accidere_v4_final.txt
  bosshud/ze_hidden_temple_v2_5.txt
  bosshud/ze_nightmare_dimension_p3.txt
  bosshud/ze_rizomata_a46.txt
  bosshud/ze_rizomata_b45.txt
  bosshud/ze_sandstorm_go_v1_4.txt
  bosshud/ze_temple_of_the_demon_god_v1_2.txt
  bosshud/ze_tesv_skyrim_v5_6.txt
  bosshud/ze_the_last_chapter_v1_5.txt
Labels: BossHud, Stripper
