Repository gflze/ZE-Configs, pull requests merged in 2020-11, with the labels that each got.

#148 Add/Update Files
  bosshud/ze_ffxii_mt_bur_omisace_v3_4.txt
  bosshud/ze_naiads_v4a_5f.txt
  entwatch/ze_ffxii_mt_bur_omisace_v3_4_override.cfg
  entwatch/ze_forsaken_temple_v3_b5_override.cfg
  entwatch/ze_naiads_v4a_5f.cfg
  stripper/ze_chaos_v7_7.cfg
  stripper/ze_ffxii_mt_bur_omisace_v3_4.cfg
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  stripper/ze_potc_iv_p3.cfg
  stripper/ze_rabanastre_royal_t5.cfg
  stripper/ze_star_wars_prequel_v1.cfg
Labels: BossHud, Stripper, entWatch

#149 Updated minecraft adventure stripper
  stripper/ze_minecraft_adventure_v1_3d.cfg
Labels: Stripper

#150 Updated ancient wrath entwatch
  entwatch/ze_Ancient_wrath_r4.cfg
  stripper/ze_easy_escape_r.cfg
Labels: Stripper, entWatch

#151 Updated shroom2 & indiana jones stripper
  stripper/ze_indiana_jones_v4a_004_p4.cfg
  stripper/ze_shroomforest2_p6.cfg
Labels: Stripper

#152 Modified Multiple Files
  entwatch/ze_schizophrenic_c3.cfg
  stripper/ze_Random_p2.cfg
  stripper/ze_otakuroom_v5_6f3.cfg
  stripper/ze_rabanastre_royal_t5.cfg
  stripper/ze_retribution_pf.cfg
  stripper/ze_tenkinoko_welkin_v1_5.cfg
Labels: Stripper, entWatch
