Repository gflze/ZE-Configs, pull requests merged in 2020-06, with the labels that each got.

#90 tweak some bhuds, update entwatch and stripper
  bosshud/ze_S_A_M_v1_7.txt
  bosshud/ze_infected_sewers_csgo
  bosshud/ze_negative_legacy_va2.txt
  bosshud/ze_sky_athletic_adv_v9_12.txt
  entwatch/ze_chaos_v7_4f_override.cfg
  entwatch/ze_l0v0l_v1_4_csgo2.cfg
  entwatch/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_avalanche_reboot_beta7_p2.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: BossHud, Stripper, entWatch

#91 Fix typo in dark souls EW and fixup retribution stripper
  entwatch/ze_dark_souls_ptd_v0_4_csgo7_override.cfg
  stripper/ze_retribution_pf.cfg
Labels: Stripper, entWatch

#94 Edits to Helms Deep and Mount Doom strippers and entwatches
  entwatch/ze_LOTR_Helms_Deep_v5_p6.cfg
  entwatch/ze_LOTR_Mount_Doom_p3.cfg
  stripper/ze_LOTR_Helms_Deep_v5_p6.cfg
  stripper/ze_LOTR_Mount_Doom_p3.cfg
  vscripts/itemfilter.nut
Labels: Stripper, entWatch

#92 added skyrim & frostdrake stripper
  stripper/ze_frostdrake_tower_v1.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper

#93 Add castlevania 64 bhud and a few entwatch changes
  bosshud/ze_castlevania_64_v1_3_b5_go.txt
  bosshud/ze_infected_sewers_csgo.txt
  entwatch/ze_FFVII_temple_ancient_v4_3_override.cfg
  entwatch/ze_FFXIV_Wanderers_Palace_v6.cfg
  entwatch/ze_S_A_M_v1_7.cfg
  entwatch/ze_evernight_a3_4.cfg
Labels: BossHud, entWatch

#96 Added some more bhuds and stripper changes
  bosshud/ze_amalgamation_v1_1.txt
  bosshud/ze_asiangirl_mm11el4nu4cp2io1yv7_r_v6_3_1.txt
  bosshud/ze_japans_3rd_bombing_v8.txt
  bosshud/ze_lotr_laketown_v3.txt
  bosshud/ze_nora_v1_8.txt
  stripper/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_shroomforest2_p6.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
Labels: BossHud, Stripper

#98 Add/Update some configs
  bosshud/ze_genso_of_last_v3_4_t1.txt
  bosshud/ze_omochix_v3_2fix.txt
  bosshud/ze_rabanastre_royal_t4.txt
  entwatch/ze_S_A_M_v1_7.cfg
  entwatch/ze_atos_v2_override.cfg
  entwatch/ze_evernight_a3_4.cfg
  stripper/ze_omochix_v3_2fix.cfg
Labels: BossHud, Stripper, entWatch

#99 Add gravity fix
  stripper/ze_tyranny_v5_2k3.cfg
Labels: Stripper

#100 Infected Sewers Boss HP fix
  stripper/ze_infected_sewers_csgo.cfg
Labels: Stripper

#101 Add/Update Files Fix Formatting issues on roof adventure
  bosshud/ze_ffxii_ridorana_cataract_t5_3_w6.txt
  bosshud/ze_ffxii_westersand_v8zeta1_b5k.txt
  bosshud/ze_m0w0m_csgo.txt
  bosshud/ze_stalkermonolit_v7gofix.txt
  bosshud/ze_the_curse_of_blackwater_v5b.txt
  bosshud/ze_the_last_chapter_v1_5.txt
  bosshud/ze_zk_fapescape_p3.txt
  entwatch/ze_Ancient_wrath_r4.cfg
  entwatch/ze_japans_3rd_bombing_v8.cfg
  entwatch/ze_m0w0m_csgo.cfg
  entwatch/ze_pkmn_adventure_v9_3.cfg
  entwatch/ze_potc_iv_p3.cfg
  entwatch/ze_stalker_ultimate_v4_9.cfg
  entwatch/ze_the_curse_of_blackwater_v5b.cfg
  stripper/ze_roof_adventure_v8f.cfg
  stripper/ze_zk_mall_of_zombies_p2.cfg
Labels: BossHud, Stripper, entWatch
