Repository gflze/ZE-Configs, pull requests merged in 2020-08, with the labels that each got.

#117 entWatch, Stripper, bhud configs update and addition
  bosshud/ze_LOTR_Mirkwood_v2_5.txt
  bosshud/ze_alien_shooter_gp1_3.txt
  bosshud/ze_avalanche_reboot_beta7_p2.txt
  bosshud/ze_eternal_journey_go_v1_4t9.txt
  bosshud/ze_ffvi_oblivion_castle_v2_5.txt
  bosshud/ze_stalker_ultimate_v4_9.txt
  bosshud/ze_tyranny_v5_2k3.txt
  entwatch/ze_avalanche_reboot_beta7_p2.cfg
  entwatch/ze_eternal_journey_go_v1_4t9.cfg
  entwatch/ze_ny_marathon_p2.cfg
  entwatch/ze_stalker_ultimate_v4_9.cfg
  stripper/ze_FFVII_Mako_Reactor_v5_3_v5.cfg
  stripper/ze_eternal_journey_go_v1_4t9.cfg
  stripper/ze_ny_marathon_p2.cfg
  stripper/ze_sandstorm_go_v1_5.cfg
Labels: BossHud, Stripper, entWatch

#118 Modified Multiple Files
  entwatch/ze_dark_souls_ptd_v0_4_csgo7_override.cfg
  stripper/ze_bathroom_v2_5.cfg
  stripper/ze_sandstorm_go_v1_5.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper, entWatch

#121 Scarlett Mansion Stripper + EW files
  entwatch/ze_Desperate_Soul_a4.cfg
  entwatch/ze_FFXIV_Wanderers_Palace_v6.cfg
  entwatch/ze_alien_vs_predator_v6go_fix.cfg
  entwatch/ze_boatescapex_b8.cfg
  entwatch/ze_coastalcity_b7.cfg
  entwatch/ze_minimal_csgo.cfg
  entwatch/ze_taboo_carnation_v2_ps2.cfg
  stripper/ze_th06_scarletDevilMansion_a0c.cfg
Labels: Stripper, entWatch

#122 Modified Multiple Strippers
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  stripper/ze_m0w0m_csgo1.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper

#123 Add and Update Configs
  bosshud/oot_shadowtemple_vtest1.txt
  bosshud/ze_alien_vs_predator_v6go_fix.txt
  bosshud/ze_destruction_of_exorath_v4_lite.txt
  bosshud/ze_fe8_sacred_stones_v1_9.txt
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
  bosshud/ze_funny_runner_v3_fix.txt
  bosshud/ze_light_v7_csgo3_tk13_final_v2f.txt
  bosshud/ze_oblivion_mountain_b2hk.txt
  bosshud/ze_the_last_chapter_v1_5.txt
  entwatch/oot_shadowtemple_vtest1.cfg
  entwatch/ze_Desperate_Soul_a4.cfg
  entwatch/ze_atos_v2_override.cfg
  entwatch/ze_fapescape_p5.cfg
  entwatch/ze_fe8_sacred_stones_v1_9.cfg
  entwatch/ze_funny_runner_v3_fix.cfg
  entwatch/ze_minimal_csgo.cfg
  entwatch/ze_oblivion_mountain_b2hk.cfg
  entwatch/ze_temple_of_the_demon_god_v2.cfg
  entwatch/ze_tyranny2_v1_csgo2.cfg
  entwatch/ze_valkvang_v1_2.cfg
  stripper/ze_m0w0m_csgo1.cfg
  stripper/ze_surf_sahok_p3.cfg
Labels: BossHud, Stripper, entWatch

#126 Update ze_temple_of_the_demon_god_v2.cfg
  entwatch/ze_temple_of_the_demon_god_v2.cfg
Labels: entWatch

#128 Small bhud, stripper and entWatch updates
  bosshud/ze_funny_runner_v3_1.txt
  bosshud/ze_temple_raider_b4_ps6.txt
  entwatch/ze_FFXIV_Wanderers_Palace_v5_2.cfg
  entwatch/ze_diddle_v3.cfg
  entwatch/ze_dreamin_v3_1.cfg
  entwatch/ze_eternal_grove_v3.cfg
  entwatch/ze_funny_runner_v3_1.cfg
  entwatch/ze_infected_sewers_csgo.cfg
  entwatch/ze_lila_panic_escape_v3_3.cfg
  entwatch/ze_lotr_minas_tirith_p5.cfg
  entwatch/ze_project_alcaria_x2.cfg
  entwatch/ze_rabanastre_royal_t5.cfg
  entwatch/ze_rizomata_va2.cfg
  entwatch/ze_sky_athletic_adv_v9_12.cfg
  entwatch/ze_stalker_ultimate_v4_9.cfg
  entwatch/ze_surf_dark_fantasy_v2go2.cfg
  entwatch/ze_the_last_chapter_v1_5.cfg
  stripper/ze_temple_raider_b4_ps6.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
Labels: BossHud, Stripper, entWatch

#129 Modified Multiple Files
  entwatch/ze_FFXIV_Pharos_Sirius_v1_3f.cfg
  entwatch/ze_roof_adventure_v8f_override.cfg
  stripper/ze_FFXII_Westersand_v7_z9.cfg
  stripper/ze_farmhouse_v9f2.cfg
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  stripper/ze_genso_of_last_v3_4_t1.cfg
  stripper/ze_roof_adventure_v8f.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper, entWatch
