Repository gflze/ZE-Configs, pull requests merged in 2020-02, with the labels that each got.

#44 entwatch/stripper/bosshud updates
  bosshud/ze_666_crazy_escape_v1_1.txt
  bosshud/ze_A_E_S_T_H_E_T_I_C_v1_1.txt
  bosshud/ze_pallaroid_rage_v1.txt
  bosshud/ze_pandora_revolutionz_hdr2.txt
  entwatch/ze_escape_the_eye_p3.cfg
  stripper/ze_escape_the_eye_p3.cfg
Labels: BossHud, Stripper, entWatch

#45 Update ze_gris_v1_13.cfg
  entwatch/ze_gris_v1_13.cfg
Labels: entWatch

#47 Entwatch/stripper/bosshud updates
  bosshud/ze_abandoned_project_v1_2_csgo.txt
  entwatch/ze_abandoned_project_v1_2_csgo.cfg
  entwatch/ze_fapescape_p5.cfg
  stripper/ze_abandoned_project_v1_2_csgo.cfg
  stripper/ze_mojos_minigames_v1_4_1.cfg
  vscripts/abandoned_boss_patched.nut
  vscripts/hud_v_patched.nut
  vscripts/main_patched.nut
Labels: BossHud, Stripper, entWatch

#48 Stripper/entwatch/bosshud updates
  entwatch/ze_forgotten_facility_p3.cfg
  stripper/ze_dark_souls_ptd_v0_4_csgo7.cfg
  stripper/ze_ffxii_paramina_rift_r4.cfg
  stripper/ze_forgotten_facility_p3.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
  vscripts/boss_c_patched.nut
  vscripts/vouov_boss_patched.nut
Labels: Stripper, entWatch

#49 Stripper/vscript updates
  stripper/ze_SUMAI_facility_v1a.cfg
  stripper/ze_shroomforest2_p6.cfg
  vscripts/bosshp_patched.nut
  vscripts/fanshp_patched.nut
Labels: Stripper

#50 Stripper/entwatch/bosshud updates
  bosshud/ze_ismellmagicintheair_wg7tw9vm1io1bu7_v3.txt
  bosshud/ze_shroomforest_p6.txt
  entwatch/ze_ismellmagicintheair_wg7tw9vm1io1bu7_v3.cfg
  entwatch/ze_shroomforest2_p6.cfg
  stripper/ze_ShroomForest3_p.cfg
  stripper/ze_shroomforest_p6.cfg
Labels: BossHud, Stripper, entWatch

#51 Stripper/entwatch updates
  entwatch/ze_biohazard2_rpd_004_p3.cfg
  stripper/ze_Pirates_Port_Royal_v5_6.cfg
  stripper/ze_biohazard_manor_004_p4.cfg
Labels: Stripper, entWatch

#52 Stripper/bosshud/vscript updates
  bosshud/ze_atos_v1_11.txt
  bosshud/ze_boredom_p.txt
  bosshud/ze_chaos_v7_4f.txt
  stripper/ze_chaos_v7_4f.cfg
  vscripts/functions_chaos_patched_.nut
Labels: BossHud, Stripper
