Repository gflze/ZE-Configs, pull requests merged in 2020-07, with the labels that each got.

#102 Added trigger support to entwatch files, edit readme, and fixup doom stripper
  README.md
  entwatch/ze_LOTR_Mount_Doom_p3.cfg
  entwatch/ze_Pirates_Port_Royal_v5_6.cfg
  entwatch/ze_atos_v2_override.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  entwatch/ze_lotr_isengard_csgo1.cfg
  entwatch/ze_lotr_minas_tirith_p5.cfg
  entwatch/ze_rizomata_va2.cfg
  entwatch/ze_sandstorm_go_v1_4.cfg
  entwatch/ze_tesv_skyrim_v5_6.cfg
  stripper/ze_DOOM_p2.cfg
Labels: Stripper, entWatch

#103 Add and Update files
  bosshud/ze_crashbandicoot_p3.txt
  bosshud/ze_dark_souls_ptd_v0_4_csgo7.txt
  bosshud/ze_l0v0l_v1_4_csgo2.txt
  bosshud/ze_light_v7_csgo3_tk13_final_v2f.txt
  bosshud/ze_m0w0m_csgo1.txt
  bosshud/ze_pirates_port_royal_v5_6.txt
  bosshud/ze_roof_adventure_v8f.txt
  bosshud/ze_tyranny_v5_2k3.txt
  entwatch/ze_Kitchen_v2.cfg
  entwatch/ze_escapetheworld_o32.cfg
  entwatch/ze_m0w0m_csgo1.cfg
  entwatch/ze_slender_escape_rc2.cfg
  entwatch/ze_trials_v3_test.cfg
  stripper/ze_rabanastre_royal_t4.cfg
  stripper/ze_tyranny_v5_2k3.cfg
Labels: BossHud, Stripper, entWatch

#104 Modified Multiple Stripper Configs
  stripper/ze_Pidaras_va2.cfg
  stripper/ze_dark_souls_ptd_v0_4_csgo7.cfg
  stripper/ze_rabanastre_royal_t4.cfg
  stripper/ze_surf_dark_fantasy_v2go2.cfg
  stripper/ze_surf_gypt_v1_3_1f.cfg
Labels: Stripper

#105 Add and Update Files
  bosshud/ze_bigfoot_escapeica_v3_4.txt
  bosshud/ze_ffxiv_wanderers_palace_v6.txt
  bosshud/ze_lotr_laketown_v3.txt
  bosshud/ze_m0w0m_csgo1.txt
  bosshud/ze_temple_of_the_demon_god_v2.txt
  bosshud/ze_touhou_gensokyo_o4.txt
  bosshud/ze_valkvang_v1_2.txt
  entwatch/ze_FFXII_Paramina_Rift_r4.cfg
  entwatch/ze_ShroomForest3_p.cfg
  entwatch/ze_castlevania_64_v1_3_b5_go.cfg
  entwatch/ze_roof_adventure_v8f_override.cfg
  entwatch/ze_the_last_chapter_v1_5.cfg
  entwatch/ze_touhou_gensokyo_o4.cfg
  stripper/ze_roof_adventure_v8f.cfg
Labels: BossHud, Stripper, entWatch

#107 Quick Updates
  bosshud/ze_crashbandicoot_p3.txt
  bosshud/ze_dreamin_v2_10.txt
  bosshud/ze_omen_090.txt
  bosshud/ze_stalkermonolit_v8gofix1.txt
  bosshud/ze_tesv_skyrim_v5_6.txt
  bosshud/ze_tyranny_v5_2k3.txt
  entwatch/ze_grau_a03_4ff.cfg
  entwatch/ze_project_alcaria_x2.cfg
  entwatch/ze_stalkermonolit_v8gofix1_override.cfg
  entwatch/ze_tesv_skyrim_v5_6.cfg
  stripper/ze_genso_of_last_v3_4_t1.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
Labels: BossHud, Stripper, entWatch

#108 Modified Multiple Files
  entwatch/ze_stalkermonolit_v8gofix1_override.cfg
  stripper/ze_dark_souls_ptd_v0_4_csgo7.cfg
  stripper/ze_dreamin_v2_10.cfg
  stripper/ze_mars_escape_gp1.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
Labels: Stripper, entWatch

#109 Quick Updates
  bosshud/ze_funny_runner_v2.txt
  bosshud/ze_infested-industry_p2.txt
  bosshud/ze_memehell_v1_1_go.txt
  entwatch/ze_destruction_of_exorath_v4_lite.cfg
  entwatch/ze_funny_runner_v2.cfg
  entwatch/ze_infected_sewers_csgo.cfg
  entwatch/ze_infested-industry_p2.cfg
  entwatch/ze_m0w0m_csgo1.cfg
  stripper/ze_m0w0m_csgo1.cfg
Labels: BossHud, Stripper, entWatch

#110 Modified Multiple Files
  entwatch/ze_genso_of_last_v3_4_t1.cfg
  stripper/ze_S_A_M_v1_7.cfg
  stripper/ze_funny_runner_v2.cfg
  stripper/ze_genso_of_last_v3_4_t1.cfg
Labels: Stripper, entWatch

#111 Fixing items
  entwatch/ze_minecraft_v1_1_p3.cfg
  stripper/ze_minecraft_v1_1_p3.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper, entWatch

#113 Add/Update Files
  bosshud/ze_fe8_sacred_stones_v1_7.txt
  bosshud/ze_ffvi_oblivion_castle_v2_1.txt
  bosshud/ze_ffxii_westersand_v7_z9.txt
  bosshud/ze_ffxiv_wanderers_palace_v4_va2.txt
  bosshud/ze_ffxiv_wanderers_palace_v6.txt
  bosshud/ze_gris_a4_9_8.txt
  bosshud/ze_gris_v1_13.txt
  bosshud/ze_jiba_journey_v1_4.txt
  bosshud/ze_parkers_pit_p.txt
  bosshud/ze_rabanastre_royal_t4.txt
  entwatch/ze_SUMAI_facility_v1a.cfg
  entwatch/ze_dark_souls_ptd_v0_4_csgo7_override.cfg
  entwatch/ze_escape_stroggos_p2.cfg
  entwatch/ze_fapescape_rote_v1_3.cfg
  entwatch/ze_fe8_sacred_stones_v1_7.cfg
  entwatch/ze_ffxii_feywood_b6_1k_override.cfg
  entwatch/ze_japans_3rd_bombing_v8.cfg
  entwatch/ze_parkers_pit_p.cfg
  entwatch/ze_pizzatime_v9.cfg
  entwatch/ze_potc_iv_p3.cfg
  stripper/ze_FORiUS_just_RUN_p2.cfg
  stripper/ze_asiangirl_mm11el4nu4cp2io1yv7_r_v6_3_1.cfg
  stripper/ze_chicken_lords_p.cfg
Labels: BossHud, Stripper, entWatch

#112 Entwatch/stripper additions/updates
  entwatch/ze_a_e_s_t_h_e_t_i_c_v1_1.cfg
  entwatch/ze_dark_souls_ptd_v0_4_csgo7_override.cfg
  entwatch/ze_ffxiv_wanderers_palace_v2_va2.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  entwatch/ze_surf_danger_p2.cfg
  entwatch/ze_surf_facility_p4.cfg
  stripper/ze_bathroom_v2_5.cfg
  stripper/ze_mojos_minigames_v1_4_1.cfg
  stripper/ze_surf_facility_p4.cfg
  stripper/ze_urbanterror_b2.cfg
Labels: Stripper, entWatch

#114 Some Updates
  bosshud/ze_best_korea_v1.txt
  bosshud/ze_castlevania_p1_7.txt
  bosshud/ze_minimal_csgo.txt
  bosshud/ze_santassination_v3.txt
  bosshud/ze_three_eyes_v1_1.txt
  bosshud/ze_toaster_p3.txt
  entwatch/ze_dark_souls_ptd_v0_4_csgo7_override.cfg
  entwatch/ze_minimal_csgo.cfg
  stripper/ze_Ancient_wrath_r4.cfg
  stripper/ze_rabanastre_royal_t4.cfg
  stripper/ze_trials_v3_test.cfg
Labels: BossHud, Stripper, entWatch

#115 Modified Multiple Files
  entwatch/ze_farmhouse_v9f2.cfg
  stripper/ze_Pidaras_va2.cfg
  stripper/ze_mojos_minigames_v1_4_1.cfg
  stripper/ze_omochix_v3_2fix.cfg
Labels: Stripper, entWatch

#116 Fixed ze_bioshock_v7_1_csgo_a2......
  entwatch/ze_bioshock_v7_1_csgo_a2_override.cfg
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_bioshock_v7_1_csgo_a2.cfg
Labels: Stripper, entWatch
