Repository gflze/ZE-Configs, pull requests merged in 2020-04, with the labels that each got.

#61 ze_stalkermonolit_v7gofix bosshud config
  bosshud/ze_stalkermonolit_v7gofix.txt
Labels: BossHud

#60 Modified multiple files
  entwatch/ze_bioshock_v6_2_csgo7_override.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_UT2004_Convoy_r5.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_lila_panic_escape_v3_1.cfg
  stripper/ze_shroomforest2_p6.cfg
Labels: Stripper, entWatch

#62 ze_ffvii_temple_ancient_v4_3 bosshud config (#62)
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
Labels: BossHud

#63 Modified multiple files
  entwatch/ze_Pirates_Port_Royal_v5_6.cfg
  entwatch/ze_blue_zenith_v0_2.cfg
  entwatch/ze_nostromo_redux_v1_2.cfg
  stripper/ze_ShroomForest3_p.cfg
  stripper/ze_diddle_v3.cfg
Labels: Stripper, entWatch

#64 Update ze_ffvii_temple_ancient_v4_3.txt
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
Labels: BossHud

#69 Fix Meteor typo
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
Labels: BossHud

#66 some updates
  bosshud/ze_666_crazy_escape_v1_1.txt
  bosshud/ze_atos_v1_11.txt
  bosshud/ze_atos_v2.txt
  bosshud/ze_illya_b4_csgo_a3.txt
  bosshud/ze_roof_adventure_v8f.txt
  entwatch/ze_italy_town_p2.cfg
  entwatch/ze_naruto_p.cfg
  entwatch/ze_ronald_v1_9.cfg
  stripper/ze_biohazard2_rpd_004_p3.cfg
  stripper/ze_biohazard_manor_004_p4.cfg
  stripper/ze_italy_town_p2.cfg
  stripper/ze_mario_tower_v4_p2.cfg
Labels: BossHud, Stripper, entWatch

#70 Updated some bosshuds, added atix apocalypse stripper
  bosshud/ze_FFXIV_Wanderers_Palace_v5_2.txt
  bosshud/ze_crazy_escape_v5_5_1.txt
  bosshud/ze_surf_sahok_p3.txt
  stripper/ze_atix_apocalypse_p3.cfg
  stripper/ze_surf_sahok_p3.cfg
Labels: BossHud, Stripper

#73 fixes and adjustments
  entwatch/ze_FFXIV_Wanderers_Palace_v5_2.cfg
  stripper/ze_minecraft_adventure_v1_3d.cfg
Labels: Stripper, entWatch

#74 Fix biohazard manor item
  entwatch/ze_biohazard_manor_004_p4.cfg
  stripper/ze_biohazard_manor_004_p4.cfg
Labels: Stripper, entWatch
