Repository gflze/ZE-Configs, pull requests merged in 2020-12, with the labels that each got.

#153 Add/Update Files
  bosshud/ze_ffvii_boku_no_pico_v1_b1.txt
  bosshud/ze_ffvii_temple_ancient_v4_3.txt
  bosshud/ze_ffvii_temple_ancient_v5_2.txt
  bosshud/ze_frozen_abyss_v1.txt
  entwatch/ze_FFVII_Temple_Ancient_v5_2_override.cfg
  entwatch/ze_ffvii_boku_no_pico_v1_b1.cfg
  entwatch/ze_frozen_abyss_v1.cfg
  stripper/ze_ffvii_temple_ancient_v4_3.cfg
  stripper/ze_m0w0m_csgo1.cfg
Labels: BossHud, Stripper, entWatch

#154 Updated stripper & entwatch cfgs
  entwatch/ze_solgryn_v1_3.cfg
  stripper/ze_Ancient_wrath_r4.cfg
  stripper/ze_paper_escaper_p7.cfg
Labels: Stripper, entWatch

#155 Did a little oopsie with solgryn entwatch
  entwatch/ze_solgryn_v1_3.cfg
Labels: entWatch

#157 Surprise!
  bosshud/ze_harry_potter_v2_1_csgo.txt
Labels: BossHud

#159 Updated wanderers v5 stripper
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper
