Repository gflze/ZE-Configs, pull requests merged in 2020-10, with the labels that each got.

#143 Add Shonyudo entWatch and Update m0w0m stripper
  entwatch/ze_surf_shonyudo_v3_1.cfg
  stripper/ze_m0w0m_csgo1.cfg
Labels: Stripper, entWatch

#144 Updated skyrim stripper & added vscript
  stripper/ze_tesv_skyrim_v5_6.cfg
  vscripts/cooldowns.nut
Labels: Stripper

#145 Add new bhuds and entWatches
  bosshud/ze_alchemy_b6_2.txt
  bosshud/ze_honkai_impact_3rd_babel_v1_5.txt
  entwatch/ze_alchemy_b6_2.cfg
  entwatch/ze_honkai_impact_3rd_babel_v1_5.cfg
Labels: BossHud, entWatch

#146 Modified Multiple Files
  entwatch/ze_diddle_v3.cfg
  entwatch/ze_paper_escaper_p7.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
  stripper/ze_paper_escaper_p7.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper, entWatch

#147 Fixup Tenkinoko Welkin Configs
  entwatch/ze_tenkinoko_welkin_v1_4.cfg
  stripper/ze_tenkinoko_welkin_v1_4.cfg
Labels: Stripper, entWatch
