Repository gflze/ZE-Configs, pull requests merged in 2020-05, with the labels that each got.

#75 Modified multiple files
  entwatch/ze_eden_a3.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_gods_wrath_p2.cfg
  stripper/ze_sky_athletic_adv_v9_12.cfg
  stripper/ze_surf_vortex_v2_6.cfg
Labels: Stripper, entWatch

#76 atix apocalypse stripper adjustments
  stripper/ze_atix_apocalypse_p3.cfg
Labels: Stripper

#77 Add escapetheworld bhud and Remake Evernight bhud
  bosshud/ze_escapetheworld_o32.txt
  bosshud/ze_evernight_a3_4.txt
Labels: BossHud

#78 Multiple Bhud fixes
  bosshud/ze_evernight_a3_4.txt
  bosshud/ze_ffxii_feywood_b6_1k.txt
  bosshud/ze_ffxii_ridorana_cataract_t5_3_w6.txt
  bosshud/ze_stalkermonolit_v7gofix.txt
Labels: BossHud

#80 update serpentis, atix apoc, dark souls stripper
  stripper/ze_atix_apocalypse_p3.cfg
  stripper/ze_dark_souls_ptd_v0_4_csgo7.cfg
Labels: Stripper

#81 Fix old config from #79
  bosshud/ze_S_A_M_v1_7.txt
  bosshud/ze_atos_v2.txt
  bosshud/ze_avalanche_reboot_beta7_p2.txt
  bosshud/ze_bioshock_v6_2_csgo7.txt
  bosshud/ze_sky_athletic_adv_v9_12.txt
  bosshud/ze_the_last_chapter_v1_5.txt
  bosshud/ze_three_eyes_v1_1.txt
  entwatch/ze_ffxii_feywood_b6_1k_override.cfg
  entwatch/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  entwatch/ze_sandstorm_go_v1_4.cfg
Labels: BossHud, entWatch

#83 oops
  bosshud/ze_avalanche_reboot_beta7_p2.txt
Labels: BossHud

#84 adding physbox feature
  entwatch/ze_FFXII_Westersand_v7_z9.cfg
  entwatch/ze_FFXIV_Wanderers_Palace_v5_2.cfg
  entwatch/ze_Pirates_Port_Royal_v5_6.cfg
  entwatch/ze_S_A_M_v1_7.cfg
  entwatch/ze_atos_v2_override.cfg
  entwatch/ze_blackmesa_remix_p2.cfg
  entwatch/ze_chaos_v7_4f_override.cfg
  entwatch/ze_christmas_infection_p2.cfg
  entwatch/ze_ffxii_westersand_v8zeta1_b5k.cfg
  entwatch/ze_lotr_isengard_csgo1.cfg
  entwatch/ze_lotr_minas_tirith_p5.cfg
  entwatch/ze_tesv_skyrim_v5_6.cfg
Labels: entWatch

#88 Modified Multiple Files
  entwatch/ze_bioshock_v6_2_csgo7_override.cfg
  entwatch/ze_insensible_jc2jc5of7in2_kb_v3.cfg
  entwatch/ze_insensible_sr8gm6yj12hs7_RG _9_6.cfg
  entwatch/ze_insensible_sr8gm6yj12hs7_RG_v9_6.cfg
  savelevel/ze_FFXII_Paramina_Rift_r4.cfg
  savelevel/ze_ffvii_mako_reactor_v6_b09k2.cfg
  savelevel/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  savelevel/ze_rizomata_va2.cfg
  stripper/ze_retribution_pf.cfg
Labels: SaveLevel, Stripper, entWatch

#86 a bunch of bhud changes and stripper
  bosshud/ze_S_A_M_v1_7.txt
  bosshud/ze_bioshock_v6_2_csgo7.txt
  bosshud/ze_crashbandicoot_p3.txt
  bosshud/ze_destruction_of_exorath_v4_lite.txt
  bosshud/ze_ffxii_feywood_b6_1k.txt
  bosshud/ze_ffxiv_wanderers_palace_v6.txt
  bosshud/ze_grau_a03_4f.txt
  bosshud/ze_halo_p3.txt
  bosshud/ze_legoland_crackheads_p2.txt
  bosshud/ze_paper_escaper_p7.txt
  bosshud/ze_rev_a6_3.txt
  bosshud/ze_sakuzyo_b2.txt
  bosshud/ze_sandstorm_go_v1_4.txt
  bosshud/ze_shroomforest2_p6.txt
  bosshud/ze_surf_dark_fantasy_v2go2.txt
  bosshud/ze_temple_raider_b4_ps6.txt
  stripper/ze_avalanche_reboot_beta7_p2.cfg
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
Labels: BossHud, Stripper
