Repository gflze/ZE-Configs, pull requests merged in 2020-09, with the labels that each got.

#130 Add/Update some files
  bosshud/ze_farmhouse_v9f2.txt
  bosshud/ze_jiba_journey_v1_5.txt
  bosshud/ze_madara_temple_v1_csgo.txt
  bosshud/ze_no_title_v2_3fix.txt
  bosshud/ze_oot_shadowtemple_b3.txt
  bosshud/ze_roof_adventure_v8f.txt
  entwatch/ze_evernight_a3_4.cfg
  entwatch/ze_oot_shadowtemple_b3.cfg
  entwatch/ze_temple_of_the_demon_god_v2.cfg
  entwatch/ze_zombierig_p3.cfg
  stripper/ze_dreamin_v3_1.cfg
  stripper/ze_rabanastre_royal_t5.cfg
  stripper/ze_roof_adventure_v8f.cfg
  stripper/ze_zombierig_p3.cfg
  vscripts/functions_patched.nut
Labels: BossHud, Stripper, entWatch

#132 Modified Multiple Files
  entwatch/ze_FFXIV_Pharos_Sirius_v1_5f.cfg
  stripper/ze_funny_runner_v3_1.cfg
  stripper/ze_genso_of_last_v3_4_t1.cfg
Labels: Stripper, entWatch

#133 Add/Update Files
  bosshud/ze_amalgamation_v1_1.txt
  bosshud/ze_fe8_sacred_stones_v1_10.txt
  bosshud/ze_roof_adventure_v9_b5.txt
  bosshud/ze_star_wars_prequel_v1.txt
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  entwatch/ze_grau_a03_4ff.cfg
  entwatch/ze_roof_adventure_v9_b5_override.cfg
  entwatch/ze_undersea_temple_a4_4.cfg
  stripper/ze_tyranny_v5_2k3.cfg
Labels: BossHud, Stripper, entWatch

#134 Fixed star wars bosshud, updated dark souls stripper
  bosshud/ze_star_wars_prequel_v1.txt
  stripper/ze_dark_souls_ptd_v0_4_csgo7.cfg
Labels: BossHud, Stripper

#136 Updated santa stripper & entwatch
  entwatch/ze_santassination_v3.cfg
  stripper/ze_santassination_v3.cfg
Labels: Stripper, entWatch

#137 Modified Multiple Files
  entwatch/ze_alien_vs_predator_v6go_fix.cfg
  entwatch/ze_star_wars_prequel_v1.cfg
  entwatch/ze_tenkinoko_welkin_v1.cfg
  stripper/ze_FFXII_Westersand_v7_z9.cfg
  stripper/ze_MindTree_v1_6.cfg
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
Labels: Stripper, entWatch

#138 Add/Update Files
  bosshud/ze_forsaken_temple_v3_b4.txt
  bosshud/ze_tenkinoko_welkin_v1.txt
  entwatch/ze_dreamin_v3_2.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: BossHud, Stripper, entWatch

#139 Update ze_ny_marathon_p2.cfg
  entwatch/ze_ny_marathon_p2.cfg
Labels: entWatch

#140 Update l0v0l stripper and maps
  bosshud/ze_chaos_v7_5.txt
  bosshud/ze_offliner_csgo_fix.txt
  bosshud/ze_oot_shadowtemple_b7.txt
  bosshud/ze_the_curse_of_blackwater_v6b.txt
  entwatch/ze_chaos_v7_5_override.cfg
  entwatch/ze_infected_sewers_csgo.cfg
  entwatch/ze_offliner_csgo_fix.cfg
  entwatch/ze_oot_shadowtemple_b7.cfg
  entwatch/ze_the_curse_of_blackwater_v6b.cfg
  stripper/ze_l0v0l_v1_4_csgo2.cfg
Labels: BossHud, Stripper, entWatch

#141 Updated fapescape entwatch
  entwatch/ze_fapescape_p5.cfg
Labels: entWatch

#142 Update Configs
  bosshud/ze_alien_vs_predator_v6go_fix.txt
  bosshud/ze_ffxii_feywood_b6_3k.txt
  bosshud/ze_funny_runner_v3_1.txt
  bosshud/ze_jiba_journey_v3_1.txt
  entwatch/ze_ffxii_feywood_b6_3k_override.cfg
  entwatch/ze_jiba_journey_v3_1.cfg
  entwatch/ze_slender_escape_rc2.cfg
  entwatch/ze_surf_dark_fantasy_v2go2.cfg
Labels: BossHud, entWatch
