Repository gflze/ZE-Configs, pull requests merged in 2021-09, with the labels that each got.

#241 add mabinogi ew for maptest
  entwatch/ze_mabinogi_f4_1.cfg
Labels: entWatch

#242 add aooka configs for maptest
  entwatch/ze_aooka_v2_8_a.cfg
  stripper/ze_aooka_v2_8_a.cfg
Labels: entWatch, Stripper

#243 add several map test configs
  bosshud/ze_breezy_v4.txt
  bosshud/ze_nomada_h3.txt
  entwatch/ze_aooka_v3_t1.cfg
  entwatch/ze_aot_trost_v6.cfg
  entwatch/ze_deathinvain_palace_v1_9.cfg
Labels: entWatch, BossHud

#244 add maptest bhud configs
  bosshud/ze_Aooka_v3_t1.txt
  bosshud/ze_aot_trost_v6.txt
  bosshud/ze_deathinvain_palace_v1_9.txt
  bosshud/ze_nomada_h3.txt
Labels: BossHud

#245 Fix stalker monolit messages + Fix nomada bhud bug
  bosshud/ze_nomada_h3.txt
  entwatch/ze_Ratescape_v5_4_override.cfg
  stripper/ze_stalkermonolit_v8gofix1.cfg
Labels: entWatch, BossHud, Stripper

#246 add LMS configs for event
  entwatch/ze_last_man_standing_csgo3.cfg
  stripper/ze_last_man_standing_csgo3.cfg
Labels: entWatch, Stripper

#247 Update Feywood stripper
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper

#248 Modified Multiple Files
  entwatch/ze_8bit_csgo3.cfg
  entwatch/ze_rush_B_v2_2.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_shroomforest2_p6.cfg
Labels: entWatch, Stripper
