Repository gflze/ZE-Configs, pull requests merged in 2021-08, with the labels that each got.

#233 add maptest entwatch configs
  entwatch/ze_blue_magic_castle_v3_1.cfg
  entwatch/ze_light_shadow_L1_4.cfg
Labels: entWatch

#235 add maptest stripper
  stripper/ze_light_shadow_l1_4.cfg
Labels: Stripper

#237 add light shadow bhud for maptest
  bosshud/ze_light_shadow_L1_4.txt
Labels: BossHud

#236 Modified zombiereloaded/ze_Knife_Stray_v3.cfg
  zombiereloaded/ze_Knife_Stray_v3.cfg
Labels: ZombieReloaded

#238 Update Offliner configs, and add Ratescape bhud
  bosshud/ze_offliner_csgo_fix.txt
  bosshud/ze_offliner_v2_csgo1.txt
  bosshud/ze_ratescape_v5_4.txt
  entwatch/ze_offliner_v2_csgo1.cfg
Labels: entWatch, BossHud

#239 Add serious sam tfe bhud
  bosshud/ze_serious_sam_tfe_v2_4.txt
Labels: BossHud

#240 add blue magic castle bhud
  bosshud/ze_blue_magic_castle_v3_1.txt
Labels: BossHud
