Repository gflze/ZE-Configs, pull requests merged in 2021-12, with the labels that each got.

#255 Modified stripper/ze_666_crazy_escape_v2_4.cfg
  stripper/ze_666_crazy_escape_v2_4.cfg
Labels: Stripper

#256 Add Several Configs
  bosshud/ze_eschaton_a3_1.txt
  entwatch/ze_cyberia_v1.cfg
  entwatch/ze_randomizer_c1.cfg
  entwatch/ze_serious_sam_tfe_v2_6.cfg
Labels: entWatch, BossHud

#257 Fix Randomizer Item Colors
  entwatch/ze_randomizer_c1.cfg
Labels: entWatch
