Repository gflze/ZE-Configs, pull requests merged in 2021-05, with the labels that each got.

#189 Modified Multiple Configs
  entwatch/ze_Pidaras_va2_override.cfg
  entwatch/ze_S_A_M_v1_7.cfg
  entwatch/ze_bioshock_v6_2_csgo7_override.cfg
  stripper/ze_CYBERDERP_p3_KIA.cfg
  stripper/ze_Mirrors_Edge_Reborn_p3.cfg
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_shroomforest2_p6.cfg
Labels: Stripper, entWatch

#190 First PR in a long time
  bosshud/ze_nameless_necropolis_v1.txt
  entwatch/ze_nameless_necropolis_v1.cfg
Labels: BossHud, entWatch

#192 Cyberderp Configs
  bosshud/ze_CYBERDERP_p3_KIA.txt
  stripper/ze_CYBERDERP_p3_KIA.cfg
Labels: BossHud, Stripper

#191 Modified Multiple Files
  entwatch/ze_frozen_abyss_v1_2.cfg
  entwatch/ze_postal_v1_1.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_minecraft_adventure_v1_3d.cfg
  stripper/ze_postal_v1_1.cfg
  stripper/ze_roof_adventure_v8f.cfg
  stripper/ze_thelostworld_redux_p2.cfg
Labels: Stripper, entWatch

#193 Configs for some upcoming map tests
  entwatch/ze_forbidden_repository_a1_4.cfg
  entwatch/ze_nomada_h3.cfg
  entwatch/ze_tenkinoko_welkin_v1_6f.cfg
  entwatch/ze_visualizer_v1_2.cfg
  entwatch/ze_worlds_v1_2.cfg
  stripper/ze_descent_into_cerberon_v1.cfg
  stripper/ze_tenkinoko_welkin_v1_5.cfg
  stripper/ze_visualizer_v1_2.cfg
Labels: Stripper, entWatch

#194 Modified Feywood Configs
  entwatch/ze_ffxii_feywood_b6_3k_override.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper, entWatch

#195 Modified Multiple Configs
  entwatch/ze_cyberpunk_x_a07.cfg
  entwatch/ze_naiads_v4a_5f.cfg
  entwatch/ze_naiads_v4a_6f.cfg
  entwatch/ze_roof_adventure_v8f_override.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_escape_stroggos_p2.cfg
  stripper/ze_naiads_v4a_5f.cfg
  stripper/ze_naiads_v4a_6f.cfg
  stripper/ze_rollermine_factory_2010_p.cfg
Labels: Stripper, entWatch

#196 v0u0v stripper update
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_v0u0v_a6_csgo1.cfg
Labels: Stripper

#197 ATIX Panic v1 Stripper Update.
  stripper/ze_atix_panic_v1.cfg
Labels: Stripper

#199 Update bhud of 3rd crazy escape in the series
  bosshud/ze_666_crazy_escape_v2_3.txt
Labels: BossHud
