Repository gflze/ZE-Configs, pull requests merged in 2021-07, with the labels that each got.

#210 Fix Touhou Saysounds, Feywood Buttonid Implementation, and Block Easy Escape TP Avoidance
  entwatch/ze_ffxii_feywood_b6_3k_override.cfg
  stripper/ze_easy_escape_r.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
  vscripts/touhou_event_manager.nut
Labels: Stripper, entWatch

#211 fix stage 2 and 3 zm ice can no tp
  stripper/ze_S_A_M_v1_7.cfg
Labels: Stripper

#212 update the_end stripper (requested by mapper)
  stripper/ze_the_end_v3f.cfg
Labels: Stripper

#213 Update Configs
  entwatch/ze_stalker_ultimate_v4_9.cfg
  stripper/ze_pkmn_adventure_v9_3.cfg
  stripper/ze_stalker_ultimate_v4_9.cfg
Labels: Stripper, entWatch

#214 Update Skyrim and Touhou configs
  stripper/ze_tesv_skyrim_v5_6.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
  zombiereloaded/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper, ZombieReloaded

#215 update the end stripper (mapper requested)
  stripper/ze_the_end_v3f.cfg
Labels: Stripper

#216 update the end stripper
  stripper/ze_the_end_v3f.cfg
Labels: Stripper

#217 Modified Multiple Configs
  stripper/ze_Knife_Stray_v3.cfg
  stripper/ze_cyberpunk_x_a07.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
  stripper/ze_funny_runner_v3_1.cfg
  stripper/ze_sorrento_escape_v2.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
  zombiereloaded/ze_Knife_Stray_v3.cfg
Labels: Stripper, ZombieReloaded

#218 update honkai impact stripper
  stripper/ze_honkai_impact_3rd_babel_v1_52.cfg
Labels: Stripper

#219 Modified Multiple Configs
  stripper/ze_Pirates_Port_Royal_v5_6.cfg
  stripper/ze_best_korea_v1.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
  vscripts/PushBack.nut
  vscripts/mapmanager.nut
Labels: Stripper

#220 Modified vscripts/mapmanager.nut
  vscripts/mapmanager.nut
Labels: Stripper

#221 Add/Update Configs
  bosshud/ze_FFXII_Mt_Bur_Omisace_v5_4fix3.txt
  bosshud/ze_the_new_era_of_crazy_escape_b7.txt
  entwatch/ze_the_new_era_of_crazy_escape_b7.cfg
  stripper/ze_alien_shooter_gp1_3.cfg
  stripper/ze_rabanastre_royal_t5.cfg
  vscripts/game_text_fix.nut
Labels: BossHud, Stripper, entWatch

#222 add castle bridge bosshud
  bosshud/ze_castle_bridge_v1_4.txt
Labels: BossHud

#223 update oblivion castle stripper (mapper requested)
  stripper/ze_oblivion_castle_v6.cfg
Labels: Stripper

#224 Update Alchemy, and Omisace bhud
  bosshud/ze_FFXII_Mt_Bur_Omisace_v5_4fix4.txt
  bosshud/ze_alchemy_b7.txt
Labels: BossHud

#225 update frozen abyss entwatch
  entwatch/ze_frozen_abyss_v1_2.cfg
Labels: entWatch

#228 added honkai impact configs for new ver maptest
  entwatch/ze_honkai_impact_3rd_babel_v1_55.cfg
  stripper/ze_honkai_impact_3rd_babel_v1_55.cfg
Labels: Stripper, entWatch

#226 Remove unuse pressing props on D boss fight
  stripper/ze_deadcore_v1_3.cfg
Labels: Stripper

#229 Add castle bridge stripper
  stripper/ze_castle_bridge_v1_4.cfg
Labels: Stripper

#230 Modified Multiple Configs
  entwatch/ze_lotr_minas_tirith_p5.cfg
  stripper/ze_castle_bridge_v1_4.cfg
  stripper/ze_funny_runner_v3_1.cfg
  stripper/ze_skill_escape_v09.cfg
  stripper/ze_tyranny_v5_2k3.cfg
Labels: Stripper, entWatch

#232 Add/Update configs
  bosshud/ze_ffxii_paramina_rift_r4.txt
  bosshud/ze_uyuni_v1_6.txt
  entwatch/ze_uyuni_v1_6.cfg
  stripper/ze_FFXII_Mt_Bur_Omisace_v5_4fix4.cfg
  stripper/ze_FFXII_Paramina_Rift_r4.cfg
Labels: BossHud, Stripper, entWatch
