Repository gflze/ZE-Configs, pull requests merged in 2021-06, with the labels that each got.

#198 Modified Multiples Configs
  entwatch/ze_bulhufas_a1_1.cfg
  stripper/ze_FFXII_Westersand_v7_z9.cfg
  stripper/ze_LOTR_Helms_Deep_v5_p6.cfg
  stripper/ze_easy_escape_r.cfg
  stripper/ze_icecap_escape_v5_p.cfg
  stripper/ze_surf_dark_fantasy_v2go2.cfg
  stripper/ze_surf_gypt_v1_3_1f.cfg
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
  stripper/ze_thelostworld_redux_p2.cfg
Labels: Stripper, entWatch

#200 update honkai impact cyberpunk city configs
  entwatch/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
  stripper/ze_honkai_impact_3rd_cyberpunk_cityv26_6.cfg
Labels: Stripper, entWatch

#202 fix nuke
  stripper/ze_urban_laby_of_death_p2.cfg
Labels: Stripper

#201 Update Alchemy and Sky Athletic configs
  entwatch/ze_alchemy_b7.cfg
Labels: entWatch

#203 Modified Multiple Files
  entwatch/ze_einstein_v7.cfg
  entwatch/ze_paranoid_rezurrection_csgo1.cfg
  stripper/ze_Pirates_Port_Royal_v5_6.cfg
  stripper/ze_dust_escape_p3.cfg
  stripper/ze_einstein_v7.cfg
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
  stripper/ze_forbidden_repository_a1_4.cfg
  stripper/ze_touhou_gensokyo_o4.cfg
Labels: Stripper, entWatch

#204 forbidden repository bosshud
  bosshud/ze_forbidden_repository_a1_4.txt
Labels: BossHud

#205 Forbidden repository update
  bosshud/ze_forbidden_repository_a1_4.txt
Labels: BossHud

#206 Add visualizer bosshud config
  bosshud/ze_visualizer_v1_2.txt
Labels: BossHud

#208 kirito or asuna disconnect server crash
  stripper/ze_S_A_M_v1_7.cfg
Labels: Stripper

#209 Modified Multiple Configs
  stripper/dz_blacksite.cfg
  stripper/dz_sirocco.cfg
  stripper/ze_Pirates_Port_Royal_v5_6.cfg
  stripper/ze_easy_escape_r.cfg
  stripper/ze_interception_p2.cfg
  vscripts/darksouls_item.nut
  vscripts/iceskates_or_floating.nut
Labels: Stripper
