Repository gflze/ZE-Configs, pull requests merged in 2021-02, with the labels that each got.

#167 Modified Multiple Configs
  entwatch/ze_dark_souls_ptd_csgo2.cfg
  entwatch/ze_einstein_v7.cfg
  entwatch/ze_new_crazy_escape_v4_1.cfg
  entwatch/ze_paranoid_rezurrection_csgo1.cfg
  stripper/ze_2021_xmas_world.cfg
  stripper/ze_alien_vs_predator_v6go_fix.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_temple_of_the_demon_god_v2.cfg
  stripper/ze_valkvang_v1_2.cfg
  vscripts/darksouls_item.nut
Labels: Stripper, entWatch

#168 Modify Dark Souls configs based on map test
  entwatch/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
Labels: Stripper, entWatch

#169 Fix Dark Souls EW
  entwatch/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  vscripts/darksouls_item.nut
Labels: Stripper, entWatch

#170 Update Honkai Impact Translation Stripper
  stripper/ze_honkai_impact_3rd_babel_v1_52.cfg
Labels: Stripper

#171 Modified Multiple Files
  entwatch/ze_solgryn_v1_5.cfg
  stripper/ze_genso_of_last_v3_4_t1.cfg
  stripper/ze_shroomforest2_p6.cfg
  stripper/ze_surf_vortex_v2_6.cfg
  stripper/ze_traak_b2.cfg
Labels: Stripper, entWatch

#174 Modified ze_bulhufas_a1_1.cfg
  entwatch/ze_bulhufas_a1_1.cfg
Labels: entWatch

#173 Sirocco Stripper V1
  stripper/dz_sirocco.cfg
Labels: Stripper

#177 Modified Multiple Configs
  entwatch/ze_a_e_s_t_h_e_t_i_c_v1_1.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper, entWatch

#176 Mirror Edge and Sirocco
  stripper/dz_sirocco.cfg
  stripper/ze_Mirrors_Edge_Reborn_p3.cfg
Labels: Stripper

#178 Modified ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_bioshock_v6_2_csgo7.cfg
Labels: Stripper

#179 Update Honkai Impact Stripper
  stripper/ze_honkai_impact_3rd_babel_v1_52.cfg
Labels: Stripper
