Repository gflze/ZE-Configs, pull requests merged in 2021-01, with the labels that each got.

#158 surprise!
  README.md
  entwatch/ze_castle_bridge_v1_3.cfg
Labels: SaveLevel, entWatch

#160 Updated pirates & siberia stripper cfgs
  stripper/ze_Pirates_Port_Royal_v5_6.cfg
  stripper/ze_siberia_1990_v1_2c_p5.cfg
Labels: Stripper

#161 Updated wanderers v5 entwatch
  entwatch/ze_FFXIV_Wanderers_Palace_v5_2.cfg
Labels: entWatch

#162 Add Honkai Impact Translation Stripper
  stripper/ze_honkai_impact_3rd_babel_v1_52.cfg
Labels: Stripper

#163 Add SCP Containment configs
  bosshud/ze_scp_containment_breach_v1_b02_cm3.txt
  entwatch/ze_scp_containment_breach_v1_b02_cm3.cfg
Labels: BossHud, entWatch

#164 Update Omisace Configs
  bosshud/ze_ffxii_mt_bur_omisace_v4_beta2.txt
  entwatch/ze_ffxii_mt_bur_omisace_v4_beta2_override.cfg
Labels: BossHud, entWatch

#165 Modified Multiple Configs
  entwatch/ze_castlevania_p1_7.cfg
  stripper/ze_DOOM_p2.cfg
  stripper/ze_castlevania_p1_7.cfg
Labels: Stripper, entWatch

#166 Mathid Implementations
  entwatch/ze_8bit_csgo3.cfg
  entwatch/ze_Ancient_wrath_r4.cfg
  entwatch/ze_SUMAI_facility_v1a.cfg
  entwatch/ze_abandoned_project_v1_2_csgo.cfg
  entwatch/ze_aztec_temple_p.cfg
  entwatch/ze_biohazard3_nemesis_b5_2.cfg
  entwatch/ze_biohazard_manor_004_p4.cfg
  entwatch/ze_blackmesa_remix_p2.cfg
  entwatch/ze_boatescapex_b8.cfg
  entwatch/ze_chicken_ranch_v2_2.cfg
  entwatch/ze_christmas_infection_p2.cfg
  entwatch/ze_crashbandicoot_p3.cfg
  entwatch/ze_destruction_of_exorath_v4_lite.cfg
  entwatch/ze_einstein_v7.cfg
  entwatch/ze_escape_the_eye_p3.cfg
  entwatch/ze_fapescape_p5.cfg
  entwatch/ze_fapescape_rote_v1_3.cfg
  entwatch/ze_italy_town_p2.cfg
  entwatch/ze_paper_escaper_p7.cfg
  entwatch/ze_predator_ultimate_p7.cfg
  entwatch/ze_schizophrenic_c3.cfg
  entwatch/ze_tenkinoko_welkin_v1_5.cfg
  entwatch/ze_tloz_stone_temple_tower_temple_v1_4e.cfg
  entwatch/ze_urban_laby_of_death_p2.cfg
Labels: entWatch
