Repository gflze/ZE-Configs, pull requests merged in 2022-05, with the labels that each got.

#284 Modify stripper/ze_666_crazy_escape_v2_4.cfg
  stripper/ze_666_crazy_escape_v2_4.cfg
Labels: Stripper

#285 Fixing a fix & updating entwatch cfg
  entwatch/ze_boatescapex_b8.cfg
  stripper/ze_boatescapex_b8.cfg
Labels: entWatch, Stripper

#286 Modified stripper/ze_siberia_1990_v1_2c_p5.cfg
  stripper/ze_siberia_1990_v1_2c_p5.cfg
Labels: Stripper

#287 update pkmn stripper and remove unneeded text
  bosshud/ze_toaster_p3.txt
  stripper/ze_pkmn_adventure_v9_3.cfg
Labels: BossHud, Stripper

#288 Update aooka files
  bosshud/ze_Aooka_v3_t5.txt
  bosshud/ze_Aooka_v3_t6.txt
  entwatch/ze_aooka_v3_t5_override.cfg
  entwatch/ze_aooka_v3_t6_override.cfg
  stripper/ze_aooka_v3_t5.cfg
Labels: entWatch, BossHud

#289 Add Sam HD configs and block a pixel surf on atos
  bosshud/ze_sam_hd_v1_fix.txt
  entwatch/ze_sam_hd_v1_fix.cfg
  stripper/ze_atos_v2_3.cfg
  stripper/ze_sam_hd_v1_fix.cfg
Labels: entWatch, BossHud, Stripper

#290 Modify stripper/ze_sam_hd_v1_fix.cfg
  stripper/ze_sam_hd_v1_fix.cfg
Labels: Stripper

#291 Add new v0u0v configs
  bosshud/ze_v0u0v_csgo1.txt
  entwatch/ze_v0u0v_csgo1.cfg
Labels: entWatch, BossHud

#292 Updated santa stripper
  stripper/ze_santassination_v3.cfg
Labels: Stripper

#293 Modify Multiple Configs
  entwatch/ze_aooka_v3_t6_override.cfg
  stripper/ze_mgden_v2_5fix.cfg
Labels: entWatch, Stripper
