Repository gflze/ZE-Configs, pull requests merged in 2022-06, with the labels that each got.

#295 Modified stripper/ze_atos_v2_3.cfg
  stripper/ze_atos_v2_3.cfg
Labels: Stripper

#296 Updated darksouls stripper
  stripper/ze_dark_souls_ptd_csgo2.cfg
Labels: Stripper

#294 Update pharos bhud
  bosshud/ze_FFXIV_Pharos_Sirius_v1_6.txt
Labels: BossHud

#298 Update Johnny nukem bhud and Rabanastre stripper
  bosshud/ze_johnny_nukem_go_b8_3a.txt
  stripper/ze_rabanastre_royal_t5.cfg
Labels: BossHud, Stripper

#300 Add/Update bhud configs
  bosshud/ze_grau_a03_4ff.txt
  bosshud/ze_industrial_dejavu_p3.txt
  bosshud/ze_no_title_v2_5.txt
  bosshud/ze_tibia_v4_2.txt
Labels: BossHud

#299 Restore "Paranoid" "Destroyer"
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

#302 Enable Stack-Damage Fix on Hydroponic Garden
  zombiereloaded/ze_hydroponic_garden_v1_1.cfg
Labels: ZombieReloaded

#301 Modified Multiple Configs
  entwatch/ze_alien_vs_predator_v6go_fix.cfg
  entwatch/ze_tibia_v4_2_override.cfg
  stripper/ze_atos_v2_3.cfg
  stripper/ze_fapescape_p5.cfg
  stripper/ze_the_curse_of_blackwater_v6b.cfg
  stripper/ze_tibia_v4_2.cfg
  stripper/ze_valkvang_v1_2.cfg
Labels: entWatch, Stripper

#303 Fix missing bracket in Feywood stripper
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper

#304 Add entWatch for got_the_north
  entwatch/ze_got_the_north_csgo3.cfg
Labels: entWatch

#307 Update Configs
  bosshud/ze_ffxii_feywood_b6_3k.txt
  entwatch/ze_amalgamation_v1_1.cfg
Labels: entWatch, BossHud

#305 Add entWatch for mapeadores_museum
  entwatch/ze_got_the_north_csgo3.cfg
  entwatch/ze_mapeadores_museum_v1.cfg
Labels: entWatch

#306 Deathinvain: Properly lock Ava item until after the boss
  entwatch/ze_deathinvain_palace_v1_9.cfg
  entwatch/ze_deathinvain_palace_v2.cfg
  stripper/ze_deathinvain_palace_v2.cfg
Labels: entWatch, Stripper

#309 Add moltentemple bhud
  bosshud/ze_moltentemple_csgo1.txt
Labels: BossHud
