Repository gflze/ZE-Configs, pull requests merged in 2022-02, with the labels that each got.

#263 Modified Multiple Configs
  entwatch/ze_watagi_tunnel_v1_1.cfg
  stripper/ze_bathroom_v2_5.cfg
  stripper/ze_ffxii_salikawood_v1_6f.cfg
  stripper/ze_pkmn_adventure_v9_3.cfg
  stripper/ze_rooftop_runaway1_p.cfg
  zombiereloaded/ze_the_curse_of_blackwater_v6b.cfg
Labels: entWatch, Stripper, ZombieReloaded

#267 Add Squid Game Entwatch
  entwatch/ze_squid_game_v1.cfg
Labels: entWatch

#268 Add Various Configs
  bosshud/ze_squid_game_v1.txt
  entwatch/ze_industrial_dejavu_p3.cfg
  entwatch/ze_monolith_csgo.cfg
  entwatch/ze_skygarden_v2_1.cfg
Labels: entWatch, BossHud
