Repository gflze/ZE-Configs, pull requests merged in 2022-04, with the labels that each got.

#275 Modified stripper/ze_aooka_v3_t5.cfg
  stripper/ze_aooka_v3_t5.cfg
Labels: Stripper

#276 Attempt to fix Aepp Nano Grid crashing + small improvement in other strippers
  entwatch/ze_aepp_nano_grid2_v1h.cfg
  stripper/ze_aepp_nano_grid2_v1.cfg
  stripper/ze_aepp_nano_grid2_v1h.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
  stripper/ze_yurilnier_beta007_hdr.cfg
Labels: entWatch, Stripper

#277 2 Entwatch configs
  entwatch/ze_lost_terminus_b4f.cfg
  entwatch/ze_surf_bona_v1_3.cfg
Labels: entWatch

#278 Add and Update Several Configs
  bosshud/ze_hydroponic_garden_v1_1.txt
  bosshud/ze_madara_temple_v1fix_csgo.txt
  bosshud/ze_mgden_v2_5fix.txt
  bosshud/ze_noob_too_easy_v3_2fix.txt
  bosshud/ze_palace_adventure_v1_2.txt
  bosshud/ze_palace_of_minolila_v1.txt
  bosshud/ze_surf_bona_v1_3.txt
  entwatch/ze_aooka_v3_t6_override.cfg
  entwatch/ze_hydroponic_garden_v1_1.cfg
  entwatch/ze_madara_temple_v1fix_csgo.cfg
  entwatch/ze_noob_too_easy_v3_2fix.cfg
  entwatch/ze_palace_adventure_v1_2.cfg
  entwatch/ze_palace_of_minolila_v1.cfg
  entwatch/ze_serious_sam_tfe_v2_6.cfg
  stripper/ze_aooka_v3_t6.cfg
  stripper/ze_hydroponic_garden_v1_1.cfg
  stripper/ze_madara_temple_v1fix_csgo.cfg
  stripper/ze_noob_too_easy_v3_2fix.cfg
  stripper/ze_palace_of_minolila_v1.cfg
  vscripts/n2e_book_patched.nut
Labels: entWatch, BossHud, Stripper

#279 Updating some files
  bosshud/ze_random_escape_gp4.txt
  stripper/ze_boatescapex_b8.cfg
  stripper/ze_dark_souls_ptd_csgo2.cfg
Labels: BossHud, Stripper

#280 Updated skyrim stripper
  stripper/ze_tesv_skyrim_v5_6.cfg
Labels: Stripper

#281 Fix breezy nuke killing everyone when humans win
  stripper/ze_breezy_v4.cfg
  vscripts/breezy_patched.nut
Labels: Stripper

#282 Updating stripper configs
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_surf_sahok_p3.cfg
Labels: Stripper

#283 Fix immediate trigger on items
  stripper/ze_tyranny_v5_2k3.cfg
Labels: Stripper
