Repository gflze/ZE-Configs, pull requests merged in 2022-07, with the labels that each got.

#310 entWatch got_the_north: Fix maxamount for heal and ammo
  entwatch/ze_got_the_north_csgo3.cfg
Labels: entWatch

#311 Add bhud configs
  bosshud/ze_got_the_north_csgo3.txt
  bosshud/ze_randomizer_c1.txt
Labels: BossHud

#312 Updated escape the eye entwatch/stripper
  entwatch/ze_escape_the_eye_p3.cfg
  stripper/ze_escape_the_eye_p3.cfg
Labels: entWatch, Stripper

#313 Modify Multiple Configs
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  stripper/ze_666_crazy_escape_v2_4.cfg
  stripper/ze_ffvii_mako_reactor_v6_b09k2.cfg
  stripper/ze_slender_escape_rc2.cfg
  stripper/ze_sorrento_escape_v2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny_v5_2k3.cfg
  stripper/ze_v0u0v_csgo1.cfg
Labels: Stripper

#314 Updated minecraft adventure stripper cfg
  stripper/ze_minecraft_adventure_v1_3d.cfg
Labels: Stripper

#316 Add entwatch to 20_seconds
  entwatch/ze_20_seconds_v6.cfg
Labels: entWatch

#315 Update/Add configs
  bosshud/ze_ancient_wrath_v2_test27_m5.txt
  entwatch/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_v0u0v_csgo1.cfg
Labels: entWatch, BossHud, Stripper

#317 Modified Multiple Configs
  entwatch/ze_COASTALCITY_b9.cfg
  entwatch/ze_antartika_p3.cfg
  entwatch/ze_aot_trost_v6.cfg
  entwatch/ze_breezy_v6.cfg
  entwatch/ze_forhidden_slicoo_b10_5.cfg
  entwatch/ze_forhidden_slicoo_v5.cfg
  entwatch/ze_mura_ayanon_a2.cfg
  musicname/ze_2021_xmas_world.cfg
  musicname/ze_8bit_csgo3.cfg
  musicname/ze_abandoned_project_v1_2_csgo.cfg
  musicname/ze_biohazard2_sewer_004_p8.cfg
  musicname/ze_biohazard2_sewer_j2_004.cfg
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: entWatch, Stripper, MusicName

#319 Updated ancient wrath stripper
  stripper/ze_ancient_wrath_r4.cfg
Labels: Stripper

#318 Various updates to doom3
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

#321 Prevent players from skipping ETW stage3 boss
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

#320 Update stilshrine configs
  bosshud/ze_stilshrine_of_miriam_v7_2fix.txt
  entwatch/ze_stilshrine_of_miriam_v7_2fix_override.cfg
Labels: entWatch, BossHud

#322 doom3 stripper updates
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

#323 Fix doom3: small gap where items wouldnt work
  stripper/ze_doom3_v2.cfg
Labels: Stripper

#324 Update: doom3
  entwatch/ze_doom3_v2.cfg
  stripper/ze_doom3_v2.cfg
Labels: entWatch, Stripper

#325 Modified Multiple Configs
  entwatch/ze_Uchiha_Legacy_cm2_fix.cfg
  entwatch/ze_castlevania_p1_7.cfg
  entwatch/ze_ffxiv_wanderers_palace_v2_va2.cfg
  entwatch/ze_ffxiv_wanderers_palace_v4_va2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_zk_mall_of_zombies_p2.cfg
Labels: entWatch, Stripper

#326 doom3 changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper

#327 doom3 changes
  stripper/ze_doom3_v2.cfg
Labels: Stripper
