Repository gflze/ZE-Configs, pull requests merged in 2022-12, with the labels that each got.

#340 Enable MultBoss on Wanderers Palace v6_2
  bosshud/ze_FFXIV_Wanderers_Palace_v6_2z1.txt
Labels: BossHud

#341 Add scourge entwatch
  entwatch/ze_scourge_k1.cfg
Labels: entWatch

#343 Add scourge stripper
  stripper/ze_scourge_k1.cfg
Labels: Stripper

#342 Modified Multiple Configs
  entwatch/ze_FFVII_Mako_Reactor_V6_b09k2.cfg
  entwatch/ze_cyberpunk_x_a07.cfg
  stripper/ze_babylon_v1.cfg
  stripper/ze_deathinvain_palace_v2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_surf_ffxiv_beachescape_camper_isengard_laser_mako.cfg
Labels: entWatch, Stripper
