Repository gflze/ZE-Configs, pull requests merged in 2022-01, with the labels that each got.

#258 fix zombies no tp
  stripper/ze_outlast_v2_cm1_fix1.cfg
Labels: Stripper

#259 Modified Multiple Configs
  entwatch/ze_outlast_v2_cm1_fix1.cfg
  entwatch/ze_serious_sam_tfe_v2_6.cfg
  stripper/ze_atos_v2_3.cfg
  stripper/ze_randomizer_c1.cfg
  stripper/ze_shroomforest_p6.cfg
Labels: entWatch, Stripper

#260 Modified Multiple Configs
  entwatch/ze_outlast_v2_cm1_fix1.cfg
  entwatch/ze_surf_shonyudo_v5_2.cfg
  stripper/ze_last_man_standing_h2.cfg
Labels: entWatch, Stripper

#261 Vauff pls check my strippa
  stripper/ze_rocket_escape_gp1.cfg
Labels: Stripper

#262 Add Ruin of Black Stone v2 Configs
  bosshud/ze_ruin_of_black_stone_v2.txt
  entwatch/ze_ruin_of_black_stone_v2.cfg
Labels: entWatch, BossHud
