Repository gflze/ZE-Configs, pull requests merged in 2023-06, with the labels that each got.

#425 Prevent triple boost early trig
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

#426 Add & Modify Several Configs
  bosshud/ze_verdant_k.txt
  entwatch/ze_verdant_k.cfg
  musicname/ze_offliner_v2_csgo1.cfg
  musicname/ze_verdant_k.cfg
  stripper/ze_verdant_k.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#427 Add maptest cfg
  bosshud/ze_bioluminescent_k.txt
  entwatch/ze_bioluminescent_k.cfg
  musicname/ze_bioluminescent_k.cfg
  stripper/ze_verdant_k.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#428 Add bioluminescent stripper
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

#429 Update stripper for escape together
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

#431 Update bioluminescent stripper
  stripper/ze_bioluminescent_k.cfg
Labels: Stripper

#430 More Changes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

#432 Changes to Desperate Soul and S_A_M
  bosshud/ze_S_A_M_v1_7.txt
  bosshud/ze_desperate_soul_a10.txt
  bosshud/ze_desperate_soul_a9.txt
Labels: BossHud

#434 Update/Add Configs
  musicname/ze_l0v0l_v1_4_csgo2.cfg
  stripper/ze_tyranny2_v1_csgo2.cfg
  stripper/ze_tyranny_v5_2k3.cfg
Labels: Stripper, MusicName

#433 Multiple balancing changes + Lyrics support from mapper
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper
