Repository gflze/ZE-Configs, pull requests merged in 2023-04, with the labels that each got.

#380 Updated pirates stripper
  stripper/ze_pirates_port_royal_v5_6.cfg
Labels: Stripper

#381 Updated atix apocalypse stripper
  stripper/ze_atix_apocalypse_p3.cfg
Labels: Stripper

#382 ze_escape_together_vb1a.cfg
  stripper/ze_escape_together_vb1a.cfg
Labels: Stripper

#384 Add map test cfg
  bosshud/ze_little_trip_k1.txt
  entwatch/ze_surf_cherry_blossom_k.cfg
  stripper/ze_little_trip_k1.cfg
  stripper/ze_surf_cherry_blossom_k.cfg
Labels: entWatch, BossHud, Stripper

#383 Fixes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
  vscripts/museumbuttonclaiming1.nut
Labels: Stripper

#385 More fixes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

#387 Add map test cfg - ze_escape_together_v1_xx.cfg
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

#388 Updated atix apoc/biohazard manor stripper
  stripper/ze_atix_apocalypse_p3.cfg
  stripper/ze_biohazard_manor_004_p4.cfg
Labels: Stripper

#389 fix kitchen microwave laser avoidance spot
  stripper/ze_kitchen_v2.cfg
Labels: Stripper

#386 Fixes to Last Man Standing
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#391 Added atix apocalypse entwatch & stripper updates
  entwatch/ze_atix_apocalypse_p3.cfg
  stripper/ze_atix_apocalypse_p3.cfg
Labels: entWatch, Stripper

#394 Map testing cfg for ze_escape_together_v1_xx.cfg
  stripper/ze_escape_together_v1_xx.cfg
Labels: Stripper

#393 add entwatch config for ze_magmadrake_b5
  entwatch/ze_magmadrake_b5.cfg
Labels: entWatch

#392 Add several maptest configs
  bosshud/ze_2049_v1_1.txt
  bosshud/ze_arcana_heart_v1.txt
  bosshud/ze_aurora_tower_v6_6.txt
  bosshud/ze_djinn_go1.txt
  bosshud/ze_endless_dream_v1_2.txt
  bosshud/ze_fapescape_katrina_v1_6.txt
  bosshud/ze_ffxiv_coil_of_bahamut_v4_4.txt
  bosshud/ze_fragment_ops_v2_7_fix.txt
  bosshud/ze_mgden_y3_fix.txt
  bosshud/ze_rien_z1f10.txt
  bosshud/ze_skygarden_v2_3.txt
  bosshud/ze_visualizer_v2_1.txt
  bosshud/ze_zertinan_v1_4.txt
  entwatch/ze_2049_v1_1.cfg
  entwatch/ze_arcana_heart_v1.cfg
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_djinn_go1.cfg
  entwatch/ze_endless_dream_v1_2.cfg
  entwatch/ze_fapescape_katrina_v1_6.cfg
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  entwatch/ze_fragment_ops_v2_7_fix.cfg
  entwatch/ze_rien_z1f10.cfg
  entwatch/ze_skygarden_v2_3.cfg
  entwatch/ze_visualizer_v2_1.cfg
  entwatch/ze_zertinan_v1_4.cfg
  musicname/ze_aurora_tower_v6_6.cfg
  musicname/ze_djinn_go1.cfg
  musicname/ze_skygarden_v2_3.cfg
  musicname/ze_visualizer_v2_1.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  stripper/ze_endless_dream_v1_2.cfg
  stripper/ze_fapescape_katrina_v1_6.cfg
  stripper/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  stripper/ze_rien_z1f10.cfg
  stripper/ze_skygarden_v2_3.cfg
  stripper/ze_visualizer_v2_1.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#395 Create ze_lila_panic_escape_tr2 music names
  musicname/ze_lila_panic_escape_tr2.cfg
Labels: MusicName

#397 Maptest Configs
  bosshud/ze_aware_v1_2a.txt
  bosshud/ze_binary_z4_1.txt
  bosshud/ze_no_name_v2_3.txt
  bosshud/ze_realm_f3.txt
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_no_name_v2_3.cfg
  entwatch/ze_realm_f3.cfg
  entwatch/ze_sit_caelum_paradisus_b7_hdr_override.cfg
  stripper/ze_surf_happy_2_newbie_village_v3.cfg
  vscripts/happy_surf_patched.nut
Labels: entWatch, BossHud, Stripper

#398 Patch 2
  musicname/ze_2049_v1_1.cfg
  musicname/ze_arcana_heart_v1.cfg
  musicname/ze_zertinan_v1_4.cfg
Labels: MusicName

#390 Modify several configs
  bosshud/ze_kitchen_v2.txt
  stripper/ze_ffvii_cosmo_canyon_v5k_fix.cfg
  stripper/ze_kitchen_v2.cfg
Labels: BossHud, Stripper

#400 more music name
  musicname/ze_endless_dream_v1_2.cfg
  musicname/ze_little_trip_k1.cfg
  musicname/ze_surf_happy_2_newbie_village_v3.cfg
Labels: MusicName

#402 Added random escape stripper
  stripper/ze_random_escape_g1.cfg
Labels: Stripper

#401 Fix rizomata stage 1 early trigger
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

#404 Make entwatch show proper fuel amount for destruction of exorath
  stripper/ze_destruction_of_exorath_v4_lite.cfg
Labels: Stripper

#405 Create ze_aaa_grand_line_x_test7.txt
  bosshud/ze_aaa_grand_line_x_test_7.txt
Labels: BossHud

#407 Changes to Mapeadores Museum
  stripper/ze_mapeadores_museum_v1.cfg
Labels: Stripper

#409 Updated sunkent temple stripper
  stripper/ze_sunkentemple_v3_1.cfg
Labels: Stripper

#408 Update minas tirith stripper
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper
