Repository gflze/ZE-Configs, pull requests merged in 2023-05, with the labels that each got.

#410 Fix syntax error in totemo roka musicname config
  musicname/ze_totemo_roka_v1.cfg
Labels: MusicName

#412 Several Stripper Updates
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

#413 decrease infection timer on light shadow
  zombiereloaded/ze_light_shadow_L1_4.cfg
Labels: ZombieReloaded

#414 Update stripper for ze_ffxiv_wanderers_palace_v4_va2
  stripper/ze_ffxiv_wanderers_palace_v4_va2.cfg
Labels: Stripper

#415 Additional changes to huggy wuggy
  stripper/ze_huggy_wuggy_chap4_halloween_rus4.cfg
Labels: Stripper

#416 Update tenkinoko welkin stripper
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

#417 Update ze_tenkinoko_welkin stripper
  stripper/ze_tenkinoko_welkin_v1_6f.cfg
Labels: Stripper

#419 Update several strippers
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_madara_temple_v1fix_csgo.cfg
Labels: Stripper

#420 Update ze_tyranny2_v1_csgo2.cfg
  entwatch/ze_tyranny2_v1_csgo2.cfg
Labels: entWatch

#422 Update wanderers palace v6 entwatch
  entwatch/ze_FFXIV_Wanderers_Palace_v6_2z1.cfg
Labels: entWatch

#423 update bosshud for halo
  bosshud/ze_halo_ce_p1_c3.txt
Labels: BossHud

#424 Stripper + VScript fix for ze_AAA_oh_final_Final_FINAL
  stripper/ze_aaa_oh_final_final_final.cfg
  vscripts/aaa_oh_fix.nut
Labels: Stripper
