Repository gflze/ZE-Configs, pull requests merged in 2023-07, with the labels that each got.

#437 Update several configs
  bosshud/ze_bioluminescent_k1.txt
  entwatch/ze_bioluminescent_k1.cfg
  musicname/ze_bioluminescent_k1.cfg
  stripper/ze_bioluminescent_k.cfg
  stripper/ze_verdant_k.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#438 more wanderers balancing from mapper
  stripper/ze_ffxiv_wanderers_palace_v6_2z1.cfg
Labels: Stripper

#436 Add/Update Configs
  bosshud/ze_retro_cow.txt
  entwatch/ze_moltentemple_csgo1.cfg
  entwatch/ze_retro_cow.cfg
  entwatch/ze_sandstorm_go_v1_5x3.cfg
  stripper/ze_k19_escape_go1.cfg
  stripper/ze_sandstorm_go_v1_5x3.cfg
Labels: entWatch, BossHud, Stripper

#439 Add bioluminescent stripper
  stripper/ze_bioluminescent_k1.cfg
Labels: Stripper

#441 Add/Update Configs
  bosshud/ze_avalanche_reboot_pm1_test3.txt
  bosshud/ze_lucy_escape_v1.txt
  entwatch/ze_Lucy_Escape_v1.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_ffvii_mako_reactor_v6_b09k2.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_forsaken_temple_v3_b5.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#443 Fix westersand v8 zombie heal
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

#444 Add negative legacy stripper
  stripper/ze_negative_legacy_va2.cfg
Labels: Stripper

#440 Last Man Standing p3 Fixes and stripper cleanup
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#442 Update escapetheworld stripper
  stripper/ze_escapetheworld_a33.cfg
Labels: Stripper

#445 Add map test cfg for border
  stripper/ze_border_b2_fix.cfg
Labels: Stripper

#446 Update Tyranny2 configs
  stripper/ze_tyranny2_v1_csgo2.cfg
  vscripts/item_text_fix.nut
Labels: Stripper

#449 Additional Fixes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#450 Several fixes to Aurora Tower
  entwatch/ze_aurora_tower_v6_6.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  zombiereloaded/ze_aurora_tower_v6_6.cfg
Labels: entWatch, Stripper, ZombieReloaded

#451 Add entwatch files for suggest maps
  entwatch/ze_abyss_land_b1_2.cfg
  entwatch/ze_beyond_the_boundary_v1_5.cfg
  entwatch/ze_golubenkaya_meow_v1_2.cfg
  entwatch/ze_hage_extinction_v1_4.cfg
Labels: entWatch

#452 Update several configs
  bosshud/ze_arcana_heart_v1_4.txt
  entwatch/ze_2049_v1_1.cfg
  entwatch/ze_arcana_heart_v1_4.cfg
  musicname/ze_arcana_heart_v1_4.cfg
  stripper/ze_ancient_wrath_v2_test27_m5.cfg
  stripper/ze_aurora_tower_v6_6.cfg
  vscripts/ancient_config.nut
Labels: entWatch, BossHud, Stripper, MusicName

#454 Fix issues from ze_huge_labo_escape_b1_3 test
  stripper/ze_huge_labo_escape_b1_3.cfg
Labels: Stripper

#453 Add/Update Configs
  bosshud/ze_draco_accidere_v4_final.txt
  entwatch/ze_radio_building_v1_3.cfg
  entwatch/ze_surf_happy_2_newbie_village_v3.cfg
Labels: entWatch, BossHud

#455 Add/Update configs
  bosshud/ze_aztecorum_hc1.txt
  bosshud/ze_sit_caelum_paradisus_b7_hdr.txt
  musicname/ze_avalanche_reboot_pm1_test3.cfg
Labels: BossHud, MusicName

#460 Grand line patch
  entwatch/aaa_grand_line_x
  musicname/aaa_grand_line_x
  stripper/ze_aaa_grand_line_x
  vscripts/aaa_magic_fix.nut
Labels: entWatch, Stripper, MusicName

#461 Update ze_aaa_grand_line_x.cfg
  stripper/ze_aaa_grand_line_x.cfg
Labels: Stripper

#456 Update the last man stands
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#463 Add pkmn adventure v7_2r configs
  bosshud/ze_pkmn_adventure_v7_2r_final.txt
  entwatch/ze_pkmn_adventure_v7_2r_final.cfg
  stripper/ze_pkmn_adventure_v7_2r_final.cfg
Labels: entWatch, BossHud, Stripper

#462 Fix aurora tower
  stripper/ze_aurora_tower_v6_6.cfg
Labels: Stripper

#464 Add/fix entwatch for border
  entwatch/ze_border_b2_fix.cfg
Labels: entWatch

#465 Fix entwatch color for surf_bona
  entwatch/ze_surf_bona_v3_1.cfg
Labels: entWatch

#466 Fix realm invalid color
  entwatch/ze_realm_f3.cfg
Labels: entWatch

#467 Add forhidden slicoo stripper
  stripper/ze_forhidden_slicoo_v5.cfg
Labels: Stripper

#469 Fix bisounours party incorrect timer
  stripper/ze_bisounours_party_p2.cfg
Labels: Stripper

#471 ( ͡° ͜ʖ ͡°) grand ( ͡° ͜ʖ ͡°) line ( ͡° ͜ʖ ͡°) x ( ͡° ͜ʖ ͡°) tweaks
  entwatch/ze_aaa_grand_line_x.cfg
  vscripts/aaa_magic_fix.nut
Labels: entWatch

#470 Update Westersand v8 stripper
  stripper/ze_ffxii_westersand_v8zeta1_b5k.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
Labels: Stripper

#472 Update several configs
  bosshud/ze_undead_shrine_b1_2.txt
  entwatch/ze_aurora_tower_v6_6.cfg
  entwatch/ze_last_man_standing_p3.cfg
  stripper/ze_aurora_tower_v6_6.cfg
Labels: entWatch, BossHud, Stripper

#473 Add/Update configs
  bosshud/ze_Diverted_Destiny_c2.txt
  entwatch/ze_Diverted_Destiny_c2.cfg
  entwatch/ze_Kitchen_v2.cfg
  stripper/ze_border_b2_fix.cfg
  vscripts/message_eng_fix.nut
Labels: entWatch, BossHud, Stripper

#474 Various changes and fixes to maps
  bosshud/ze_golubenkaya_meow_v1_2.txt
  bosshud/ze_retro_cow_v1.txt
  entwatch/ze_realm_f3.cfg
  entwatch/ze_zertinan_v1_4.cfg
  stripper/ze_aware_v1_2a.cfg
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_forhidden_slicoo_v5.cfg
  stripper/ze_neochrome_csgo3a.cfg
  stripper/ze_undead_shrine_b1_2.cfg
  stripper/ze_zertinan_v1_4.cfg
Labels: entWatch, BossHud, Stripper

#476 Increase balrog hp on minas
  stripper/ze_lotr_minas_tirith_p5.cfg
Labels: Stripper

#477 Fix visualizer boost pads being inconsistent (+Fix forhidden stripper)
  stripper/ze_forhidden_slicoo_v5.cfg
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

#478 Update Feywood stripper and add m0w0m and v0u0v musicnames
  musicname/ze_m0w0m_csgo1.cfg
  musicname/ze_v0u0v_csgo1.cfg
  stripper/ze_ffxii_feywood_b6_3k.cfg
Labels: Stripper, MusicName

#479 Update dreamin & mist stripper
  stripper/ze_dreamin_v3_3.cfg
  stripper/ze_mist_q3.cfg
Labels: Stripper

#481 Fix mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

#480 Add/Update Configs
  bosshud/ze_backrooms_deathbed_t1f.txt
  bosshud/ze_dodge_or_die_k.txt
  bosshud/ze_golubenkaya_meow_v1_2.txt
  entwatch/ze_backrooms_deathbed_t1f.cfg
Labels: entWatch, BossHud

#482 grand line tweaks
  stripper/ze_aaa_grand_line_x.cfg
  vscripts/aaa_magic_fix.nut
Labels: Stripper

#483 Animu Entwatch
  entwatch/ze_animu_v2_final.cfg
Labels: entWatch

#486 Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper
