Repository gflze/ZE-Configs, pull requests merged in 2023-08, with the labels that each got.

#487 Update avalanche reboot configs
  bosshud/ze_avalanche_reboot_k1.txt
  bosshud/ze_avalanche_reboot_pm1_test3.txt
  entwatch/ze_avalanche_reboot_k1.cfg
  entwatch/ze_avalanche_reboot_pm1_test3.cfg
  musicname/ze_avalanche_reboot_k1.cfg
  musicname/ze_avalanche_reboot_pm1_test3.cfg
  stripper/ze_avalanche_reboot_pm1_test3.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#475 Last Fix Standing
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

#489 Rizomata fixes
  stripper/ze_rizomata_va2.cfg
Labels: Stripper

#490 Fix typos in castlevania + diddle stripper
  stripper/ze_castlevania_p1_7.cfg
  stripper/ze_diddle_v3.cfg
Labels: Stripper

#488 Several updates/changes
  stripper/ze_2049_v1_1.cfg
  stripper/ze_watagi_tunnel_v2_1.cfg
  vscripts/ze_watagi_tunnel_en.nut
  vscripts/ze_watagi_tunnel_story_en.nut
Labels: Stripper

#492 Fix item color for palace of minolila
  entwatch/ze_palace_of_minolila_v1.cfg
Labels: entWatch

#491 Maptest changes/fixes
  bosshud/ze_aot_trost_v8_3.txt
  entwatch/ze_aot_trost_v8_3.cfg
  entwatch/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_fragment_ops_v2_7_fix.cfg
  stripper/ze_realm_f3.cfg
  stripper/ze_zertinan_v1_4.cfg
  vscripts/ze_fragment_ops_patched.nut
Labels: entWatch, BossHud, Stripper

#493 Add maptest cfgs
  bosshud/ze_abyss_land_b1_2.txt
  bosshud/ze_beyond_the_boundary_v1_5.txt
  bosshud/ze_luciddreams_csgo3.txt
  bosshud/ze_surf_last_point_v1_5.txt
  entwatch/ze_dodge_or_die_k.cfg
  entwatch/ze_luciddreams_csgo3.cfg
  entwatch/ze_surf_last_point_v1_5.cfg
  stripper/ze_beyond_the_boundary_v1_5.cfg
  stripper/ze_dodge_or_die_k.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
Labels: entWatch, BossHud, Stripper

#497 Fix issues BtB's map test
  stripper/ze_beyond_the_boundary_v1_5.cfg
Labels: Stripper

#498 Add testris daydream bhud
  bosshud/ze_tetris_daydream_p.txt
Labels: BossHud

#499 Update visualizer stripper from m4dara
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

#501 grand line x1 m3 stripper
  stripper/ze_aaa_grand_line_x1.cfg
Labels: Stripper

#502 Add avalanche reboot stripper
  stripper/ze_avalanche_reboot_k1.cfg
Labels: Stripper

#503 Update mist stripper
  stripper/ze_mist_q3.cfg
Labels: Stripper

#505 Update visualizer stripper
  stripper/ze_visualizer_v2_1.cfg
Labels: Stripper

#504 Luciddreams roundtime
  zombiereloaded/ze_luciddreams_csgo3.cfg
Labels: ZombieReloaded

#506 Update ridorana stripper
  stripper/ze_ffxii_ridorana_cataract_t5_3_w6.cfg
Labels: Stripper

#509 Map Adjustments and Changes
  stripper/ze_ffxii_westersand_v8zeta1k.cfg
  stripper/ze_last_man_standing_p3.cfg
  stripper/ze_lotr_minas_tirith_p5.cfg
  vscripts/minas_display.nut
Labels: Stripper

#508 Maptest fixes
  entwatch/ze_aot_trost_v8_3.cfg
  entwatch/ze_backrooms_deathbed_t1f.cfg
  entwatch/ze_ffxiv_coil_of_bahamut_v4_4.cfg
  stripper/ze_backrooms_deathbed_t1f.cfg
  stripper/ze_fapescape_katrina_v1_7.cfg
  stripper/ze_palace_of_minolila_v1.cfg
  zombiereloaded/ze_backrooms_deathbed_t1f.cfg
  zombiereloaded/ze_retro_cow_v1_1.cfg
Labels: entWatch, Stripper, ZombieReloaded

#510 Increase max barricade count for castlevania entwatch
  entwatch/ze_castlevania_p1_7.cfg
Labels: entWatch

#511 Map test cfg for surf_last_point
  stripper/ze_surf_last_point_v1_5.cfg
Labels: Stripper

#512 Safe changes to LMS
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#514 Last Man Standing maptest fixes
  stripper/ze_last_man_standing_p3.cfg
Labels: Stripper

#515 sisyphus fix
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

#516 Update deadcore entwatch
  entwatch/ze_deadcore_k3.cfg
Labels: entWatch
