Repository gflze/ZE-Configs, pull requests merged in 2023-09, with the labels that each got.

#517 Add maptest cfgs
  bosshud/ze_Diverted_Destiny_c2.txt
  bosshud/ze_diverted_destiny_c2f2.txt
  bosshud/ze_ffxii_mt_bur_omisace_v5_k3.txt
  bosshud/ze_lost_terminus_b10.txt
  entwatch/ze_Diverted_Destiny_c2.cfg
  entwatch/ze_diverted_destiny_c2f2.cfg
  entwatch/ze_ffxii_mt_bur_omisace_v5_k3.cfg
  entwatch/ze_lost_terminus_b10.cfg
  entwatch/ze_lost_terminus_b4f.cfg
  entwatch/ze_surf_gypt_v2r1.cfg
  musicname/ze_ffxii_mt_bur_omisace_v5_k3.cfg
  stripper/ze_lost_terminus_b10.cfg
Labels: entWatch, BossHud, Stripper, MusicName

#519 sissy bussy qol fixes
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

#520 sisyphus bug fixes
  stripper/ze_sisyphus_v1.cfg
  vscripts/sisyphus_magic_v2.nut
Labels: Stripper

#521 Arcana heart stripper
  stripper/ze_arcana_heart_v1_5.cfg
Labels: Stripper

#524 Crazy Christmas BossHud
  bosshud/ze_crazy_christmas_v1_1.txt
Labels: BossHud

#525 dragonball anti-solo-cringe camping nuke extension
  stripper/ze_dragonball_snakeway_neox2.cfg
Labels: Stripper

#526 Update deadcore stripper
  stripper/ze_deadcore_k3.cfg
Labels: Stripper

#528 Fix heal button on temple raider
  stripper/ze_temple_raider_kr1.cfg
Labels: Stripper

#527 Update cyberspace configs
  bosshud/ze_cyberspace_v1.txt
  entwatch/ze_cyberspace_v1.cfg
  stripper/ze_cyberspace_v1.cfg
Labels: entWatch, BossHud, Stripper

#523 Update diverted destiny configs
  entwatch/ze_diverted_destiny_c2f3.cfg
  stripper/ze_diverted_destiny_c2f3.cfg
  zombiereloaded/ze_diverted_destiny_c2f3.cfg
Labels: entWatch, Stripper, ZombieReloaded

#530 Fix binary issues
  stripper/ze_binary_z4_1.cfg
Labels: Stripper

#533 Fix item pushes on tenkinoko
  stripper/ze_tenkinoko_welkin_v1_7f.cfg
Labels: Stripper

#531 Add maptest configs
  bosshud/ze_forhidden_void_b5.txt
  bosshud/ze_slackerino_mapperino_v4.txt
  bosshud/ze_surf_virtus_v1_1.txt
  bosshud/ze_temple_of_phantom_v1p_2.txt
  bspconvar_whitelist/bspconvar_custom_whitelist.txt
  entwatch/ze_forest_of_steel_v1_7.cfg
  entwatch/ze_forhidden_void_b5.cfg
  entwatch/ze_ocean_heart_v1.cfg
  entwatch/ze_runaway_roofside_k1.cfg
  entwatch/ze_slackerino_mapperino_v4.cfg
  entwatch/ze_surf_virtus_v1_1.cfg
  entwatch/ze_temple_of_phantom_v1p_2.cfg
  stripper/ze_forhidden_void_b5.cfg
  stripper/ze_slackerino_mapperino_v4.cfg
  stripper/ze_temple_of_phantom_v1p_2.cfg
Labels: entWatch, BossHud, Stripper

#532 cruelty squad mapload bug fix
  stripper/ze_cruelty_squad_v1_12.cfg
  vscripts/gorbinos_magic.nut
Labels: Stripper

#535 FFXII Mt Bur Omisace Fix
  stripper/ze_ffxii_mt_bur_omisace_v5_k3.cfg
Labels: Stripper

#529 Final Person Standing
  stripper/ze_last_man_standing_p3.cfg
  vscripts/lms1main1.nut
Labels: Stripper

#534 Fixes to flowering & surf virtus
  stripper/ze_flowering_b10.cfg
  stripper/ze_surf_virtus_v1_1.cfg
Labels: Stripper
