Repository gflze/ZE-Configs, pull requests merged in 2023-01, with the labels that each got.

#346 Modified Multiple Configs
  entwatch/ze_collective_v1_9.cfg
  stripper/ze_biohazard2_sewer_004_p8.cfg
  stripper/ze_biohazard2_sewer_j2_004.cfg
  stripper/ze_jurassicpark_escape_p2.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
  stripper/ze_silent_hill_3_flee_v4.cfg
Labels: entWatch, Stripper

#347 modify several configs
  entwatch/ze_boredom_p.cfg
  stripper/ze_silent_hill_2_illusion_b5.cfg
  stripper/ze_silent_hill_blackblood_f6.cfg
  vscripts/blackblood_patched.nut
  vscripts/flee_patched.nut
  vscripts/happy_patched.nut
  vscripts/illusion_patched.nut
  vscripts/sh2_patched.nut
Labels: entWatch, Stripper

#349 Update ze_lotr_mount_doom_p3.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

#348 Update ze_dust_escape_p3.cfg
  stripper/ze_dust_escape_p3.cfg
Labels: Stripper

#351 update kebab immigrant configs
  bosshud/ze_kebab_immigrant_k.txt
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: entWatch, BossHud, Stripper

#352 Update ze_cyberderp_p4.cfg
  stripper/ze_cyberderp_p4.cfg
Labels: Stripper

#354 Modify stripper/ze_lotr_mount_doom_p3.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

#353 fix paramina fire staff crash random client on stage 2 boss
  stripper/ze_ffxii_paramina_rift_r4.cfg
Labels: Stripper

#355 Modified entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
  entwatch/ze_ffvii_cosmo_canyon_v6test5.cfg
Labels: entWatch

#356 ze_light_escape_v1_final.cfg
  stripper/ze_light_escape_v1_final.cfg
Labels: Stripper
