Repository gflze/ZE-Configs, pull requests merged in 2023-02, with the labels that each got.

#357 Update kebab immigrant configs
  entwatch/ze_kebab_immigrant_k.cfg
  stripper/ze_kebab_immigrant_k.cfg
Labels: entWatch, Stripper

#359 Barrel parenting fix and Bloom adjustment for Facility_Overload_final2 and Nightmares_Madness_p2
  stripper/ze_facility_overload_final2.cfg
  stripper/ze_nightmares_madness_p2.cfg
Labels: Stripper

#360 Modified Multiple Configs
  stripper/ze_bioshock_v6_2_csgo7.cfg
  stripper/ze_death_star_escape_v4_3_p2.cfg
  stripper/ze_games_v2_1.cfg
  stripper/ze_harry_potter_v2_1_csgo.cfg
  stripper/ze_surf_danger_p2.cfg
Labels: Stripper

#361 Enable StackDamage fix on Codex
  zombiereloaded/ze_project_codex_v1_2.cfg
Labels: ZombieReloaded

#362 Add LMS Bosshud Config
  bosshud/ze_last_man_standing_p3.txt
Labels: BossHud

#364 deadcore insane stage musicname
  musicname/ze_deadcore_s7f2.cfg
Labels: MusicName

#365 Update ze_lotr_mount_doom_p3.cfg
  stripper/ze_lotr_mount_doom_p3.cfg
Labels: Stripper

#366 ze_paycheck_neox stripper
  stripper/ze_paycheck_neox.cfg
Labels: Stripper

#363 Implement many fixes to the Paranoid Rezurrection.
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

#367 Even more Paranoid fixes
  stripper/ze_paranoid_rezurrection_csgo1.cfg
Labels: Stripper

#368 Add kitchen BossHud config
  bosshud/ze_kitchen_v2.txt
Labels: BossHud

#369 Update ze_meatropolis_p4 Entwatch
  entwatch/ze_meatropolis_p4.cfg
Labels: entWatch

#370 Update deadcore stripper
  stripper/ze_deadcore_k2.cfg
Labels: Stripper

#371 Added resonance cascade entwatch
  entwatch/ze_resonance_cascade_p3.cfg
Labels: entWatch
